body {
    background-color: #89aeeb;
}

.links {
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    background-color: #91eb89;
    padding: 5px;
}

.wrapper {
    margin: 0 auto;
}

.header {
    justify-content: center;
    display: flex;
}

.paragraph {
    justify-content: center;
    display: flex;
    color: white;
}

.main-content {
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(john-ward-Nf_84aTqOvk-unsplash.jpg);
    min-height: 900px;
    background-size: cover;
    opacity: 85%;
}

.link {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.list {
    background-color: #91eb89;
    padding: 5px;
}

.image-container {
    justify-content: center;
    display: flex;
}

.image {
    width: 33%;
}

.trail-nav {
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.trail {
    background-color: #91eb89;
    padding: 5px;
}

.trail-header {
    justify-content: center;
    display: flex;
}

.trails-information {
    justify-content: center;
    display: flex;
}

.trail-aside {
    list-style-type: none;
}

.Ajo-Mountain-Trail {
    justify-content: center;
    display: flex;
}

.image-1 {
    max-width: 500px;
    max-height: 500px;
    align-content: center;
    display: flex;
}

.Organ-Pipe-Loop {
    justify-content: center;
    display: flex;
}

.image-2 {
    max-width: 500px;
    max-height: 500px;
    align-content: center;
    display: flex;
}

.Arch-Canyon-Trail {
    justify-content: center;
    display: flex;
}

.image-3 {
    max-width: 500px;
    max-height: 500px;
    align-content: center;
    display: flex;
}

.other-trails {
    justify-content: center;
    display: flex;
}

.works-cited {
    justify-content: center;
    display: flex;
}

.works-cited-1 {
    justify-content: center;
    display: flex;
}

.about-the-author {
    justify-content: center;
    display: flex;
}